# Byte-compiled code
__pycache__/
*.py[cod]

# Packaged code
build/
dist/
.eggs/
*.egg-info/
MANIFEST

# IDE configuration
.idea/
.ipynb_checkpoints/
.vscode/

# Editor backup copies
*~
*.bak
*.old
*.swp

# macOS
.DS_Store
